.card{
    max-width: 413px;
    position: relative;
    
}

.card__image{
    width: 413px;
    height: 413px;
    object-fit: cover;
    border-radius: 8px;
}

.card__content{
    display:flex;
    justify-content: space-between;
}

.delete__btn{
    background-image: url(../images/delete-btn.svg);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 371px;
    
}

.delete__btn:hover{
    background-image: url(../images/delete-btn-hover.svg);
}

.card__title{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #212121;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;

}

.card__like-btn{
    background-image: url(../images/heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: #212121;
    opacity: 0.4;
    cursor: pointer;
    border: none;
}

.card__like-btn:hover{
    opacity: 1;
}

.card__like-btn_liked{
    background-image: url(../images/liked.svg);
    opacity: 1;
}

.card__like-btn_liked:hover{
background-image: url(../images/hoverliked.svg);
}

@media screen and (max-width: 627px){
.card__image{
    max-width: 288px;
    height: 288px;
}
.card__title{
    font-size: 16px;
    max-width: 250px;
}
.card__like-btn{
    background-repeat: no-repeat;
}

.delete__btn{
    position: absolute;
    top: 10px;
    left: 250px;
}
}