.profile{
    display: flex;
    gap: 8px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 34px 0 20px;
    border-bottom: 1px solid rgba(33, 33, 33, .4);
    
}

.profile__avatar{
    margin-right: 20px;
    border-radius: 8px;
    width: 190px;
    height: 190px;
}

.profile__name{
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__description{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: rgba(33, 33, 33, 0.7);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__column{
    display: flex;
    flex-direction: column;
}

.profile__edit-btn{
    margin-top: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: rgba(33, 33, 33, .7);
    height: 20px;
    border: none;
    background-color: #fcf5e5;
    text-align:start;
}

.profile__edit-btn:hover{
    color:#a4a452;
    transition: .5s;
}

.profile__add-btn{
    margin-left: auto;
    margin-top: auto;
    height: 52px;
    width: 149px;
    border: 2px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
    color: #fcf5e5;
    background-color: #212121;
}

.profile__add-btn:hover{
    background-color:rgba(164, 164, 82, .8);
    transition: .5s ease-in-out;
}

.profile__btn-logo{
    margin-right: 8px;
    color: #fcf5e5;
}

@media screen and (max-width: 627px) {
    .profile{
        flex-direction: column;
        width: 288px;
        height: 274px;
        align-items: center;
        text-align:center;
        padding: 20px 0 20px;
        gap: 0;
        }
    .profile__avatar{
        margin-right: 0;
        width: 80px; 
        height:80px;
    }
    .profile__name{
        margin: 12px auto 6px;
        font-size: 20px;
        max-width: 288px;
    }
    .profile-description {
        margin: 0 auto;
        max-width:288px;
    }
    .profile__edit-btn{
        margin: 32px 0 20px;
        text-align: center;
    }
    .profile__add-btn{
        margin: 0;
        justify-self: flex-end;
        width: 100%;
    }
}